<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Practica Dinamica Con Html5 Y Css3">
    <meta name="keywords" content="HTML5, CSS3">
    <meta name="author" content="Restrepo Gómez Guillermo Alejandro.">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2? family = Abel & display = swap" rel="hoja de estilo ">
    <link rel="stylesheet" href="{{url_for('static',filename='css/Proyecto.css')}}">
    <!-- templates con flask-->
    {% block estilos %} {% endblock %}
    <link rel="shortcut icon" href="{{url_for('static',filename='img/Icono.ico')}}" type="image/x-icon">
    <title>Proyecto Del Primer Parcial</title>

</head>

<body>
    <header>
        <nav class="Contenedor">
            <div class="Logo">
                <a href="{{url_for('inicio')}}"> <img class="Img1" src="{{url_for('static',filename='img/Logo.png')}}" alt="">

                </a>
            </div>
            <div class="Enlaces">
                <a class="Opciones" href="{{url_for('coleccion')}}">Colecciones</a>
                <a class="Opciones" href="{{url_for('calculo')}}">Calculos</a>
                <a class="Opciones" href="{{url_for('cadena')}}">Cadenas</a>
                <a class="Opciones" href="{{url_for('ayuda')}}">Ayuda</a>
                <a class="Opciones" href="{{url_for('ejercicio')}}">Ejercicios</a>
            </div>
            <div class="Salchipapa">
                <img class="Img2" src="{{url_for('static',filename='img/IconoMenú.png')}}" id="Salchipapa">
            </div>
        </nav>
    </header>


    {% block contenido %}
    <section class="Principal">
        <Article class="Texto">
            <h1>POO Con Python</h1>
            <h2>Proyecto En Python</h2>
            <a href="#">Ver mas...</a>
        </Article>
        <img src="{{url_for('static',filename='img/ImagenPrincipal.png')}}""./" alt="">
    </section>
    {% endblock %}
    <script src="{{url_for('static',filename='js/Proyecto.js')}}"></script>
    {% block js %} {% endblock %}
</body>

</html>